@use "variables";
@use "sass:color";

.task__wrapper {
  width: 100%;
  padding: 0 10%;

  .column {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .subtitle {
      color: black;
      font-size: 2rem;
    }

    .add__button {
      background-color: variables.$light-green;
      cursor: pointer;
      color: white;
      font-size: 1rem;
      padding: 0.8rem 2.5rem;
      border-radius: 0.3rem;
      outline: thick;
      border: 0;
      border-color: transparent;

      &:hover,
      &:focus {
        background-color: #189546;
      }
    }
  }

  .no__tasks__information {
    font-size: 1.1rem;
  }

  .completed__wrapper {
    width: 100%;
    margin: 2rem 0;

    .completed__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2rem;

      .completed__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 0.5rem;
      }

      .arrow__btn {
        cursor: pointer;
        padding: 0.2rem;
        border-radius: 0.3rem;
        outline: thick;
        border: 0;
        border-color: transparent;
        background-color: transparent;

        &:hover,
        &:focus {
          background-color: color.adjust(variables.$grey, $lightness: -5%);
        }

        .arrow__icon {
          height: 2rem;
          width: 2rem;
          transform: rotate(0deg);
        }

        .arrow__icon__active {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media screen and (min-width: variables.$small-screen) {
  .task__wrapper {
    padding: 0 25%;
  }
}
