$green: #285231;
$light-green: #3c7e44;
$very-light-green: #c9d3c3;
$grey: #a8a5a5;
$light-grey: #f4f4f5;

//MEDIA
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1366px;
$xlarge-screen: 1920px;
$xxlarge-screen: 2560px;
